body {
    background-color: #008080;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

h1 {
    background-image: url(../img/banner-soma.jpg);
    background-clip: border-box;
    color: #000000;
    text-shadow: 2px 2px #e0e0e0;
}

:link {
    color: #d00000;
}

:visited {
    color: #000040;
}